@font-face {
  font-family: "Kanit", sans-serif;
  src: url("./Kanit-Medium.ttf") format("ttf");
}

body {
  display: grid;
  /*grid-template-columns: colu; */
  grid-template-rows: 1fr 2fr;
}

#content {
  grid-row: 1 / 2;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: red;
  margin: none;
}
h2 {
  font-family: "Kanit";
  font-size: large;
  font-style: italic;
}

p {
  margin: none;
}

.img {
  background-image: url("./store_front.jpg");
  background-repeat: no-repeat;
}

.corpInq {
}
